{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Search
{% endblock title %}

{% block content %}
    <h1>Поиск публикаций</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if search %}
        <table cellpadding="20">
            {% for post in search %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.create_time|date:'d.m.Y P' }}</td>
                <td>{{ post.content|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Публикаций нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}